:root {
  --principal-color: #5f3adf;
  --principal-color-opacity: #00b19d14;
  --color-gray: #d7d7d7;
}

body {
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  height: 100vh;
  margin: auto;
  max-width: 1200px;
  padding: 0 1em;
}

footer {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--principal-color);
  font-size: 2.5em;
}

h3 {
  text-align: left;
}

table, th, td {
  border: 1.5px solid var(--color-gray);
}

.section-search {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--principal-color);
  border: none;
  border-color: var(--principal-color);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: .5em;
  align-items: center;
  padding: .7em 1em;
}

.btn img {
  height: 12px;
  width: 12px;
}

.button-icon {
  all: unset;
}

.content-form-input {
  background-color: #fff;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .2em .5em;
}

.content-form-input input {
  border: none;
}

.content-form-input input:focus-visible {
  outline: none;
}

.content-form-input input::placeholder {
  color: var(--color-gray);
}

.content-form-input img {
  height: 16px;
  width: 16px;
}

.content-error {
  color: red;
  margin: 1em 0;
}