:root {
  --principal-color: #5f3adf;
  --principal-color-opacity: #00b19d14;
  --color-gray: #d7d7d7;
}

body {
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  height: 100vh;
  margin: auto;
  max-width: 1200px;
  padding: 0 1em;
}

footer {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--principal-color);
  font-size: 2.5em;
}

h3 {
  text-align: left;
}

table, th, td {
  border: 1.5px solid var(--color-gray);
}

.section-search {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--principal-color);
  border: none;
  border-color: var(--principal-color);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: .5em;
  align-items: center;
  padding: .7em 1em;
}

.btn img {
  height: 12px;
  width: 12px;
}

.content-form-input {
  background-color: #fff;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .2em .5em;
}

.content-form-input input {
  border: none;
}

.content-form-input input:focus-visible {
  outline: none;
}

.content-form-input input::placeholder {
  color: var(--color-gray);
}

.content-form-input img {
  height: 16px;
  width: 16px;
}

/* TABLE */
.section-table {
  background-color: #fff;
  margin-top: 2em;
  overflow-y: auto;
  max-height: 300px;
}

.table-pokemon {
  border: 1px solid var(--color-gray);
  border-spacing: 0px;
  width: 100%;
}

.table-pokemon thead {
  top: 0;
  background: #fff;
  box-shadow: 0 2px 2px -1px rgb(0 0 0 / 40%);
}

.table-pokemon thead th {
  padding: 1em 0.5em;
}

.table-pokemon tbody td {
  padding: 0 0.5em;
}

.table-pokemon tbody td.text-left {
  text-align: left;
}

.table-pokemon .img-pokemon {
  width: 60px;
}

.table-pokemon .content-icons-actions {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.table-pokemon .icon {
  cursor: pointer;
  height: 17px;
  width: 17px;
}


/* FORM */
.content-form {
  background-color: #fff;
  border: 2px solid var(--color-gray);
  margin-top: 2em;
  padding: 1em;
}

.content-form h4 {
  margin: 0.5em;
}

.content-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-form form > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  width: 100%;
}

.content-form form > div:last-child {
  display: flex;
  gap: 1em;
}

.form-group {
  display: flex;
  gap: 1em;  
  align-items: center;
  justify-content: center;
}

.form-group .form-input {
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  padding: .5em;
}

.form-group .form-input:focus-visible {
  outline: none;
}

.form-group .form-input::placeholder {
  color: var(--color-gray);
}